
<%= form_for [:admin,@trabalho], :html => { :class => :form } do |f| %>
<% if @trabalho.errors.any?%>
    <div class="alert alert-error">
      <%=  f.error_messages %>
    </div>
<% end %>

<div class="clearfix">
<%= f.label :titulo, :class => "label" %>
  <div class="input">
    <%= f.text_field :titulo %>
  </div>
</div>
    <div class="clearfix">
      <%= f.label :capa, :class => "label" %>
      <div class="input">
      <%= f.file_field :cover %>
    </div>
</div>

<div class="clearfix">
      <%= f.label :url, :class => "label" %>
  <div class="input">
  <%= f.url_field :url %>
  </div>
</div>
    <div class="clearfix">
      <%= f.label :descricao,'Descrição', :class => "label" %>
      <div class="input">
    <%= f.cktext_area :descricao %>
      </div>
    </div>
<div class="well">
<h3>SEO</h3>
<%= f.fields_for  :seo, @trabalho.seo do |seo| %>
<%= render 'shared/complete_seo', :seo => seo %>
<% end %>
</div>

    <div class="well">
<h3>Capa Home</h3>
<%= f.fields_for  :side_cover, @trabalho.side_cover do |builder| %>
<%= render 'side_cover_fields', :f => builder %>
<% end %>
</div>

    <div class="form-actions">
      <button class="btn primary" type="submit">Save</button> or
      <%= link_to "Cancel", admin_sobres_path %>
    </div>

<% end %>

<%= content_for :head do %>
<%= javascript_include_tag "ckeditor/ckeditor.js" %>
<% end %> 
