<div class="fields">


<div class="clearfix">
  <%= f.label :imagem, :class => :label %>
  <div class="input">
      <%= f.file_field :imagem, %>
      <% unless f.object == nil || f.object.new_record? %>
      <%= image_tag f.object.imagem(:thumb) %>
      <% end %>
  </div>
</div>

<h3>SEO</h3><hr />
<% @seo = f.object.build_seo %>
 <%= f.fields_for :seo, f.object.seo do |seo| %>
   <%= render 'shared/simple_seo', :seo => seo %>
    <% end %>
<br />
</div>
