<h1>Projetos Pessoais</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>
      Titulo
    </th>
    <th>Creado em</th>
    <th>Açoes</th>
  </tr>
  </thead>
  <tbody>
  <% @trabalhos.each do |trabalho| -%>
      <tr>
        <td><%= trabalho.id %></td>
        <td><%= link_to trabalho.titulo, admin_trabalho_path(trabalho) %>
        </td>
        <td><%= trabalho.created_at %></td>
        <td>
          <%= link_to "Show", admin_trabalho_path(trabalho) %>
          <%= link_to "Edit", edit_admin_trabalho_path(trabalho) %>
          <%= link_to "Destroy", admin_trabalho_path(trabalho), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Confirmar exclusão?")}" %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>
<%= link_to "Novo", new_admin_trabalho_path, :class => 'btn btn-primary' %>
