<label class="label">Titulo</label>
<p><%= @trabalho.titulo %></p>

<label class="label">Descrição</label>
<p><%= sanitize(@trabalho.descricao) %></p>

<label class="label">URL</label>
<p><%= @trabalho.url %></p>

<label class="label">Capa</label>
<p><%= image_tag @trabalho.cover(:thumb) %></p>

<label class="label">Capa Página Inicial</label>
<p><%= image_tag @trabalho.side_cover.imagem(:thumb) unless @trabalho.side_cover.nil? %></p>

<div class="well">
 <h3>SEO</h3>
  <label class="label">Title</label>
  <p><%= @trabalho.seo.title %></p>

  <label class="label">ALT</label>
  <p><%= @trabalho.seo.alt %></p>

  <label class="label">Descrição</label>
  <p><%= @trabalho.seo.description %></p>
</div>

<div class="form-actions">
  <%= link_to "Voltar", admin_trabalhos_path, :class => 'btn'  %>
  <%= link_to "Editar", edit_admin_trabalho_path(@trabalho), :class => 'btn' %>
  <%= link_to "Excluir", admin_trabalho_path(@trabalho), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Confirmar Exclusão?")}", :class => 'btn' %>
</div>
