
<div class="clearfix">
   <%= f.label :titulo, t("activerecord.attributes.projeto.titulo", :default => "Titulo"), :class => :label %>
  <div class="input">
    <%= f.text_field :titulo, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :categoria, t("activerecord.attributes.projeto.categoria", :default => "Categoria"), :class => :label %>
  <div class="input">
    <%= f.select :categoria, ([["Site", "Site"], ["Impresso","Impresso"], ["Logotipo","Logotipo"], ["Outro","Outro"]]), :class => 'select_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :cliente, t("activerecord.attributes.projeto.cliente", :default => "Cliente"), :class => :label %>
  <div class="input">
    <%= f.text_field :cliente, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :descricao, t("activerecord.attributes.projeto.descricao", :default => "Descricao"), :class => :label %>
  <div class="input">
    <%= f.cktext_area :descricao, :class => 'text_area span8' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :tecnologia, t("activerecord.attributes.projeto.tecnologia", :default => "Tecnologia"), :class => :label %>
  <div class="input">
    <%= f.text_area :tecnologia, :class => 'text_area span8' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :ano, t("activerecord.attributes.projeto.ano", :default => "Ano"), :class => :label %>
  <div class="input">
    <%= f.text_field :ano, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :url, t("activerecord.attributes.projeto.url", :default => "Url"), :class => :label %>
  <div class="input">
    <%= f.url_field :url, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :status, t("activerecord.attributes.projeto.status", :default => "Status"), :class => :label %>
  <div class="input">
    <%= f.text_field :status, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :cover, t("activerecord.attributes.projeto.cover_descricao", :default => "Cover"), :class => :label %>
  <div class="input">
    <%= f.file_field :cover, :class => 'input' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :cover_descricao, t("activerecord.attributes.projeto.cover_descricao", :default => "Cover descricao"), :class => :label %>
  <div class="input">
    <%= f.text_area :cover_descricao, :class => 'text_area' %>
  </div>
</div>

<div class="well">
<fieldset>
  <legend class="legends" >Capa Portfolio</legend>
  <%= f.fields_for :capa_portfolio do |cp| %>
      <div class="clearfix">
        <%= f.label :imagem,"Imagem: tamanho 442×224" , :class => :label %>
        <div class="input">
      <%= cp.file_field :cover %>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :descricao,"Descrição" , :class => :label %>
        <div class="input">
      <%= cp.text_area :descricao, :class => "textarea span8" %>
      </div>
      </div>
  <% end %>
</fieldset>
</div>

<div class="well">
<fieldset>
  <legend class="legends" >SEO</legend>
  <%= f.fields_for :seo do |seo| %>
      <%= render "/shared/complete_seo", :seo => seo %>
  <% end %>
</fieldset>
</div>

<div class="well">
<fieldset>
  <legend class="legends" >Imagens</legend>
  <div id="Imagens">
    <%= f.fields_for :projeto_imagems do |builder| %>
        <%= render "projeto_imagem_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Adicionar Imagem", f, :projeto_imagems %>
  </div>
</fieldset>
</div>

<div class="well">
<fieldset>
  <legend class="legends" >Profissionais</legend>
  <div id="Profissionais">
    <%= f.fields_for :profissionals do |builder| %>
        <%= render "profissional_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Adicionar Profissional", f, :profissionals %>
  </div>
</fieldset>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", admin_projetos_path %>
</div>


<%= content_for :head do %>
    <%= javascript_include_tag "ckeditor/ckeditor.js" %>
<% end %>