<div class="fields">
<fieldset class="fieldes">
<p>
<label class="labels">Nome:</label>
<%= f.text_field :nome %>
</p>
<p>
<label class="labels">URL:</label>
<%= f.url_field :url %>
</p>
<br />
<p>
<label class="labels">Descrição:</label>
<%= f.text_area :descricao %>
</p>
<hr />
<label class="labels">SEO:</label><br />
<% @seo = f.object.build_seo %>
 <%= f.fields_for :seo, f.object.seo do |seo| %>
   <%= seo.text_field :title %>
    <% end %>
<br />
<%= link_to_remove_fields "remover Profissional", f %>
</fieldset>
</div>
