<div class="fields">
  <div class="clearfix">
    <%= f.label :imagem,"Imagem: tamanho largura 629px" , :class => :label %>
    <div class="input">
      <%= f.file_field :imagem, :placeholder => "tamanho largura 629px" %>
      <% unless f.object == nil || f.object.new_record? %>
          <%= image_tag f.object.imagem(:thumb) %>
      <% end %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :caption, :class => :label %>
    <div class="input">
<%= f.text_field :caption, :placeholder => "Legenda da Imagem" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :descricao,"Descrição", :class => :label %>
    <div class="input">
 <%= f.text_area :descricao, :placeholder => "Não sei pra que mas coloquei esse campo", :class=>"textarea span8" %>
    </div>
  </div>
<hr />
<label class="labels">SEO:</label><br />
<% @seo = f.object.build_seo %>
 <%= f.fields_for :seo, f.object.seo do |seo| %>
   <%= render "/shared/simple_seo", :seo => seo %>
    <% end %>
<br />
</div>
