<div class="fields">
  <div class="clearfix">
    <%= f.label :nome, :class => :label %>
    <div class="input">
      <%= f.text_field :nome %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :url, :class => :label %>
    <div class="input">
<%= f.url_field :url %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :descricao,'Descrição', :class => :label %>
    <div class="input">
<%= f.text_area :descricao, :class=>"textarea span8" %>
    </div>
  </div>

<h3>SEO</h3>
<% @seo = f.object.build_seo %>
 <%= f.fields_for :seo, f.object.seo do |seo| %>
      <%= render "/shared/simple_seo", :seo => seo %>
    <% end %>
<br />
<%= link_to_remove_fields "remover Profissional", f %>
</fieldset>
</div>
