<h1>Trabalhos</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.admin_projeto.titulo", :default => t("activerecord.labels.titulo", :default => "Titulo")) %>
    </th>
        <th>Criado em</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @projetos.each do |projeto| -%>
   <tr>
    <td><%= projeto.id %></td>
        <td><%= link_to projeto.titulo, admin_projeto_path(projeto) %>
    </td>
        <td><%= projeto.created_at %></td>
    <td>
      <%= link_to "Visualizar", admin_projeto_path(projeto) %>
      <%= link_to "Editar", edit_admin_projeto_path(projeto) %>
      <%= link_to "Excluir", admin_projeto_path(projeto), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Confirmar exclusão?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "Novo", new_admin_projeto_path, :class => 'btn btn-primary' %>
