
<label class="label"><%= t("activerecord.attributes.admin_projeto.titulo", :default => t("activerecord.labels.titulo", :default => "Titulo")) %>:</label>
<p><%= @projeto.titulo %></p>


<label class="label"><%= t("activerecord.attributes.admin_projeto.categoria", :default => t("activerecord.labels.categoria", :default => "Categoria")) %>:</label>
<p><%= @projeto.categoria %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.cliente", :default => t("activerecord.labels.cliente", :default => "Cliente")) %>:</label>
<p><%= @projeto.cliente %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.descricao", :default => t("activerecord.labels.descricao", :default => "Descricao")) %>:</label>
<p><%= sanitize(@projeto.descricao) %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.tecnologia", :default => t("activerecord.labels.tecnologia", :default => "Tecnologia")) %>:</label>
<p><%= @projeto.tecnologia %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.ano", :default => t("activerecord.labels.ano", :default => "Ano")) %>:</label>
<p><%= @projeto.ano %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.url", :default => t("activerecord.labels.url", :default => "Url")) %>:</label>
<p><%= @projeto.url %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.status", :default => t("activerecord.labels.status", :default => "Status")) %>:</label>
<p><%= @projeto.status %></p>

<label class="label">Cover</label>
<p><%= image_tag @projeto.cover(:thumb) %></p>

<label class="label"><%= t("activerecord.attributes.admin_projeto.cover_descricao", :default => t("activerecord.labels.cover_descricao", :default => "Cover descricao")) %>:</label>
<p><%= @projeto.cover_descricao %></p>

<label class="label">Capa Portfolio</label>
<p><%= image_tag @projeto.capa_portfolio.cover(:thumb) %></p>

<div class="well">
  <h3>Imagens do Projeto</h3>
  <% @projeto.projeto_imagems.each do |imagem| %>
      <label class="label"><%=  imagem.caption %></label>
      <p><%= image_tag imagem.imagem(:thumb) %></p>
      <p>
         <b>Descriçãp: </b><%= imagem.descricao %>
        <b>SEO Title: </b><%=  imagem.seo.title %> <b>SEO ALT: </b><%= imagem.seo.alt %>
      </p>
  <% end %>
</div>

<div class="well">
  <h3>Profissionais envolvidos</h3>
  <% @projeto.profissionals.each do |profissional| %>
      <label class="label"><%=  profissional.nome %></label>
      <p>
        <b>URL: </b><%= profissional.url %>
        <b>SEO Title: </b><%=  profissional.seo.title %> <b>SEO ALT: </b><%= profissional.seo.alt %>
      </p>
      <p><b>Descrição: <%= profissional.descricao %></b></p>
  <% end %>
</div>

<div class="form-actions">
<%= link_to "Voltar", admin_projetos_path, :class => 'btn'  %>
<%= link_to "Editar", edit_admin_projeto_path(@projeto), :class => 'btn' %>
<%= link_to "Excluir", admin_projeto_path(@projeto), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Confirmar Exclusão?")}", :class => 'btn' %>
</div>
