<% if @sobre.errors.any?%>
    <div class="alert alert-error">
      <%=  f.error_messages %>
    </div>
<% end %>
<div class="clearfix">
   <%= f.label :nome, t("activerecord.attributes.sobre.nome", :default => "Nome"), :class => :label %>
  <div class="input">
    <%= f.text_field :nome, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :descricao, t("activerecord.attributes.sobre.descricao", :default => "Descricao"), :class => :label %>
  <div class="input">
    <%= f.cktext_area :descricao, :class => 'text_area' %>
  </div>
</div>

<div class="well">
  <fieldset>
      <h3>Avatar</h3>
    <%= f.fields_for :avatars do |avatar| %>

        <%= render "avatar_fields", :f => avatar %>

    <% end %>
  </fieldset>
</div>


<div class="well">
<fieldset>
<%= f.fields_for :socials do |builder| %>
    <%= render "social_fields", :f => builder %>
<% end %>
  <div class="form-actions">
<%= link_to_add_fields "Adicionar Social", f, :socials %>
 </div>
</fieldset>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", admin_sobres_path %>
</div>

<%= content_for :head do %>
    <%= javascript_include_tag "ckeditor/ckeditor.js" %>
<% end %>