<div class="fields">
  <fieldset class="fieldes">
    <p>
      <label class="labels">Nome</label>
      <%= f.text_field :nome %>
    </p>
    <p>
      <label class="labels">URL</label>
      <%= f.url_field :url %>
    </p>
    <p>
      <label class="labels">Imagem</label>
      <%= f.file_field :imagem, %>
      <%= f.hidden_field :retained_imagem %>
      <% unless f.object == nil || f.object.new_record? %>
      <%= image_tag f.object.imagem.thumb('64x64').url %>
      <% end %>
    </p>
    <br />
    <p>
      
SEO:<hr />
<% @seo = f.object.build_seo %>
 <%= f.fields_for :seo, f.object.seo do |seo| %>
   <%= render 'shared/simple_seo', :seo => seo %>
    <% end %>
<br />
    </p>
    <label class="labels" > <%= link_to_remove_fields "Remover Social", f %> </label>
  </fieldset>
</div>
