<h1>Sobres</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.admin_sobre.nome", :default => t("activerecord.labels.nome", :default => "Nome")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @sobres.each do |sobre| -%>
   <tr>
    <td><%= sobre.id %></td>
        <td><%= link_to sobre.nome, admin_sobre_path(sobre) %>
    </td>
        <td><%= sobre.created_at %></td>
    <td>
      <%= link_to "Show", admin_sobre_path(sobre) %>
      <%= link_to "Edit", edit_admin_sobre_path(sobre) %>
      <%= link_to "Destroy", admin_sobre_path(sobre), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_admin_sobre_path, :class => 'btn btn-primary' %>
