
<label class="label"><%= t("activerecord.attributes.admin_sobre.nome", :default => t("activerecord.labels.nome", :default => "Nome")) %>:</label>
<p><%= @sobre.nome %></p>

<label class="label"><%= t("activerecord.attributes.admin_sobre.descricao", :default => t("activerecord.labels.descricao", :default => "Descricao")) %>:</label>
<p><%= sanitize(@sobre.descricao) %></p>

<!-- avatar não utilizado
<label class="label">Avatar Imagens</label>
<% @sobre.avatars.each do |avatar| %>
<%= image_tag avatar.imagem(:thumb) %>
 <% end %>
-->
<div class="well">
  <h3>Social Itens</h3>
  <% @sobre.socials.each do |social| %>
      <label class="label"><%=  social.nome %></label>
      <p><%= image_tag social .imagem(:thumb) %> <%=  social.url %>
       <%= seo_show(social) %>
      </p>
  <% end %>
</div>

<div class="form-actions">
<%= link_to "Voltar", admin_sobres_path, :class => 'btn'  %>
<%= link_to "Editar", edit_admin_sobre_path(@sobre), :class => 'btn' %>
<%= link_to "Excluir", admin_sobre_path(@sobre), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Conformar exclusão?")}", :class => 'btn' %>
</div>
