				<div id="colunaesquerda">
					<nav>	
						<ul class="menuesquerdo">
								<li><a href="/admin/sobres">Início</a></li>
								<li><%= link_to "Editar", edit_admin_sobre_path(@sobre) %></li>

						</ul>
					</nav>	
				</div><!-- Fim div coluna esquerda -->
				
				<div id="colunadireita">
				
				<h1 class="barradicas" >Dicas para cadastrar esta sessão</h1>
				<p class="textodicas">
					<span class="destaquedicas"> Lorem Ipsum </span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type  <br /> <span class="destaquedicas"> Lorem Ipsum </span>and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				
				<h1 class="titulotexto" >Títulos para sessão de textos</h1>
				<p class="textoshow">
					<span class="destaquedicas"> Sobre </span><%= @sobre.nome %><br />
          <span class="destaquedicas"> Descrição </span><%= @sobre.descricao %><br />

				</p>
				
				<h1 class="tituloimg" >Títulos para sessão de imagens</h1>
				<p class="textoshow">
          <ul>
          <% @sobre.avatars.each do |avatar| %>
            <li> <%= avatar.imagem_name %> <%= image_tag avatar.imagem.thumb('64x64').url %></li><br />
          <% end %>
					</ul>
				</p>
				
				<h1 class="titulofile" >Títulos para sessão de arquivos .pdf .doc .outros</h1>
				<p class="textoshow">
         <% @sobre.socials.each do |social| %>
         <span class="destaquedicas"> Nome </span><%= social.nome %><br />
         <span class="destaquedicas"> Url </span><%= social.url %><br />
				 <%= image_tag social.imagem.thumb('64x64').url %><br />
				 <% end %>
				</p>
 </div><!-- Fim div coluna Direita -->
			
