<%= render 'shared/avatar', :about => @sobre %>
<div class="greatColl">
  <h2 class="titleGreatColl">Um Pouco Sobre <%= @sobre.nome unless @sobre.nil? %></h2>
  <div class="contentGreatColl">
    <p class="descricao">
      <%= raw @sobre.descricao unless @sobre.nil?%>
    </p>
    <div class="Osprojetos">
      <h3 class="titleh3">Projetos que trabalho ou participo</h3>
      <%  trabalho_participo.each do |trabalho| %>
      <div>
        <h4><%= trabalho.titulo %></h4>
        <%= image_tag trabalho.cover(:medium), :alt=> trabalho.seo.alt %>
        <p class="descricao">
          <%= raw trabalho.descricao %>
        </p>
        <span>Visite e conheça mais sobre esse projeto em:<%= link_to trabalho.url, trabalho.url, :title=> trabalho.seo.title, :target=> :blank %></span>
      </div>
      <% end %>
    </div>
  </div><!-- Fim div contentGreatColl -->
</div><!-- Fim div greatColl -->
