<%= render 'shared/avatar', :about => @sobre %>
			<div class="greatColl">
				<h2 class="titleGreatColl">Um Pouco Sobre <%= @sobre.nome unless @sobre.nil? %></h2>
				<div class="contentGreatColl">
					
					<p class="descricao">
						<%=raw @sobre.descricao unless @sobre.nil?%>
					</p>


					<div class="Osprojetos">
						<h3 class="titleh3">Projetos que trabalho ou participo</h3>
<%  projeto_desenvolvimento.each do |projeto| %>
<div>
						<h4><%= projeto.titulo %></h4>
						<%= image_tag projeto.cover.url %>
						<p class="descricao">
						<%=raw projeto.descricao %>
						</p>

						<span>Visite e conheça mais sobre esse projeto em:<%= link_to projeto.url, projeto.url, :target=> :blank %></span>
</div>		
<% end %>
					</div>

				
				</div><!-- Fim div contentGreatColl -->
			</div><!-- Fim div greatColl -->
