<% if @user.errors.any?%>
<div class="alert alert-error">
<%=  f.error_messages %>
</div>
<% end %>
<div class="clearfix">
   <%= f.label :login, t("activerecord.attributes.user.login", :default => "Login"), :class => :label %>
  <div class="input">
    <%= f.text_field :login, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :nome, t("activerecord.attributes.user.nome", :default => "Nome"), :class => :label %>
  <div class="input">
    <%= f.text_field :nome, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label %>
  <div class="input">
    <%= f.text_field :email, :class => 'text_field' %>
  </div>
</div>


<div class="clearfix">
   <%= f.label :role_id, t("activerecord.attributes.user.role_id", :default => "Role"), :class => :label %>
  <div class="input">
    <%= f.number_field :role_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :password, t("activerecord.attributes.user.crypted_password", :default => "Password"), :class => :label %>
  <div class="input">
    <%= f.text_field :password, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :password_confirmation, t("activerecord.attributes.user.crypted_password", :default => "Password Confirmation"), :class => :label %>
  <div class="input">
    <%= f.text_field :password_confirmation, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", admin_users_path %>
</div>
