<h1>Usuários</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.admin_user.login", :default => t("activerecord.labels.login", :default => "Login")) %>
    </th>
    <th>E-mail</th>
    <th>Criado em</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.login, admin_user_path(user) %></td>
     <td><%= user.email %></td>
        <td><%= user.created_at %></td>
    <td>
      <%= link_to "Visualizar", admin_user_path(user) %>
      <%= link_to "Editar", edit_admin_user_path(user) %>
      <%= link_to "Excluir", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Confirmar exclusão?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "Cadastrar novo", new_admin_user_path, :class => 'btn btn-primary' %>
