<div id="colunaesquerda">
  <nav>
    <ul class="menuesquerdo">
      <li><a href="/admin/usuarios">Listar Usuários</a></li>
      <li><%= link_to 'Cadastrar Usuário', new_admin_user_path %></li>
      <li><%= link_to 'Editar Estado', edit_admin_user_path(@user) %></li>
    </ul>
  </nav>
</div><!-- Fim div coluna esquerda -->
<div id="colunadireita">

  <h1 class="barraformulario">Visualizando Cadastro - <%= @user.nome %></h1>

  <h1 class="barradicas" >Dicas para cadastrar esta sessão</h1>

  <p class="textodicas">
    <span class="destaquedicas"> Dica: </span> Aqui você visualizará as informações cadastradas na sessão categoria, clicando sobre os nomes a caixa expandirá para a visualização. <br /><br />
  </p>

  <h1 class="titulotexto"title="Clique para visualizar os detalhes">Informações Cadastrais</h1>
  <div class="textoshow">
    <span class="destaquedicas">Nome : </span>
    <%= @user.nome %><br /><br />
        <span class="destaquedicas">Login : </span>
    <%= @user.login %><br /><br />
            <span class="destaquedicas">Email : </span>
    <%= @user.email %><br /><br />
  </div>

  
  <br />
  <a href="/admin/users" class="voltar">Voltar</a>

</div><!-- Fim div coluna Direita -->
