<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title ||= "Criação e desenvolvimento de sites, blogs, portais, sistemas e aplicações para internet - EulerDesign Freelancer Web Designer em Caldas Novas - Goiás" %></title>
  <meta name="description" content="<%= @description ||= "EulerDesign Freelancer Web Designer em Caldas Novas - Goiás"%>" />
   <link rel="shortcut icon" href="/assets/faveico.png" type="image/png">
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
     <!-- CSS Slide -->
<%= stylesheet_link_tag    "nivo-slider" %>
<%= stylesheet_link_tag    "styleNivo" %>
   
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body id="home">
  <header class="topoPagina">
    <a class="linklogo" href="http://eulerdesign.com.br" title="Voltar para a Página Inicial">
      <h1 class="logo">
        EulerDesign - Desenvolvimento e Criação de sites
      </h1><!-- Fim h1 logo -->
    </a>
    <nav>
      <ul>
        <li><a href="/" class="<%= "visited" if current_page?(:controller=>'home') %>" title="Voltar para a pagina inicial">Início</a></li> <!-- Class VISITED indica em que página o user está -->
        <li><a href="/sobre" class="<%= "visited" if current_page?(:controller=>'sobre') %>" title="Saiba um pouco mais sobre o EulerDesign">Sobre</a></li>
        <li><a href="/portfolio" class="<%= "visited" if current_page?(:controller=> :portfolio) %>" title="Conheça nosso portfólio e alguns trabalhos">Portfólio</a></li>
        <li><a href="http://rorcaldas.com.br/blog" title="Leia sobre html, css, Ruby on Rails, web, programação, design, webdesign e muito mais no mundo da tecnologia">Blog</a></li>
        <li><a href="/contato" title="Contato" class="<%= "visited" if current_page?(:controller=>'contato') %>">Contato</a></li>
        <li class="/login"><a href="login.html" title="Acessar o painel administrativo do site"></a></li>
      </ul>
    </nav>  
    <div class="fraseTopo">
      <span>Agora Com:</span>
      <h2>
        Desenvolvimento e criação de sites, blogs, portais, sistemas e aplicações para internet.
      </h2>
    
    </div><!-- Fim div Frase topo -->
  </header><!-- Fim Header Topo Pagina -->

  <section class="meioPagina">
    <div class="contentMeioPagina">
<%= yield %>
</div><!-- Fim div Conteudo meio pagina -->
  </section><!-- Fim Section Meio Pagina -->
  <footer class="rodape">
    <div class="contentRodape">
    <nav>
      <ul>

        <a href="/" class="<%= "visited" if current_page?(:controller=>'home') %>" title="Voltar para a pagina inicial">Início</a></li> <!-- Class VISITED indica em que página o user está -->
        <li><a href="/sobre" class="<%= "visited" if current_page?(:controller=>'sobre') %>" title="Saiba um pouco mais sobre o EulerDesign">Sobre</a></li>
        <li><a href="/portfolio" class="<%= "visited" if current_page?(:controller=>'portfolio') %>" title="Conheça nosso portfólio e alguns trabalhos">Portfólio</a></li>
        <li><a href="http://rorcaldas.com.br/blog" title="Leia sobre html, css, Ruby on Rails, web, programação, design, webdesign e muito mais no mundo da tecnologia">Blog</a></li>
        <li><a href="/contato" title="Contato" class="<%= "visited" if current_page?(:controller=>'contato') %>">Contato</a></li>
        <li class="/login"><a href="login.html" title="Acessar o painel administrativo do site"></a></li>
      </ul>
    </nav>  
      
      <div class="copyright">
        <a href="#" class="icoRodape" title="Voltar para a pagina inicial"></a>
        <span>
          Copyright © 2011 EulerDesign, Todos os direitos reservados<br /> 
          | Site Desenvolvido por: <a href="http://twitter.com/eulerdesign" title="Siga e acompanhe o Euler no twitter">EulerDesing</a>
        </span>
      </div><!-- Fim div Copyright -->
    </div><!-- Fim div content Rodape -->
  </footer><!-- Fim Sessão Rodape --> 

</body>
<%= javascript_include_tag "application" %>
<%= yield :footer %>
  

</html>
